*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family), 'Arial', 'Helvetica', sans-serif;
  font-weight: var(--base-font-weight);
  font-style: normal;
  font-size: var(--base-font-size);
  line-height: var(--main-line-height);
  text-size-adjust: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition:
    color 0.3s var(--main-transition),
    background-color 0.3s var(--main-transition);
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

select {
  word-wrap: normal;

  &:disabled {
    opacity: 1;
  }
}

textarea {
  resize: vertical;
}

button {
  cursor: pointer;
}

a {
  color: var(--link-color);

  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover {
    color: var(--link-hover-color);
  }

  &:active {
    color: var(--link-active-color);
  }
}

img {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none !important;
}
