$icon-sizes: (
  xxxs: 12,
  xxs: 16,
  xs: 20,
  s: 24,
  m: 28,
  rg: 32,
  l: 40,
  xl: 48,
  xxl: 64,
);

@each $size, $value in $icon-sizes {
  .icon-base_#{$size} {
    min-width: #{$value}px;
    min-height: #{$value}px;
    max-width: #{$value}px;
    max-height: #{$value}px;
  }
}

.icon-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__svg {
    width: 100%;
    height: 100%;
  }
}
