@use '@styles/mixins' as mix;

.language-switcher-base {
  $switcher: &;
  --space-around-icon: 8px;
  --icon-height: 24px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  //@media (any-hover: hover) {
  &:hover {
    #{$switcher}__dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  //}

  &__button {
    border: none;
    margin: var(--space-around-icon);
    padding: 0;
    font-size: 0;
    color: var(--language-switcher-base-button-color);
    background-color: transparent;
  }

  &__text {
    font-size: 0;
  }

  &__dropdown {
    --offset: calc(
      (var(--icon-height) + var(--space-around-icon) * 2) / 2 + 30px
    );
    position: absolute;
    top: auto;
    right: 0;
    min-width: 180px;
    max-width: 260px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition:
      opacity var(--transition-duration-base),
      visibility var(--transition-duration-base),
      transform var(--transition-duration-base);
    @include mix.offset-top-for-dropdown(var(--offset));
  }
}
